:root { 
--gray_600:#757575; 
--white_A700_00:#ffffff00; 
--gray_400:#bdbdbd; 
--bluegray_900_1a:#3030331a; 
--gray_901:#212121; 
--blue_500:#1e90ff; 
--gray_900:#061d33; 
--white_A700:#ffffff; 
--gray_50:#fcfcfc; 
--gray_100:#f5f5f5; 
}