
 @font-face { src: url("assets/fonts/oxygenbold700.ttf"); font-family : "Oxygen"; font-style : bold; font-weight : 700;  }
 @font-face { src: url("assets/fonts/oxygenregular400.ttf"); font-family : "Oxygen"; font-style : normal; font-weight : 400;  }
 @font-face { src: url("assets/fonts/interregular400.ttf"); font-family : "Inter"; font-style : normal; font-weight : 400;  }
 @font-face { src: url("assets/fonts/interbold700.ttf"); font-family : "Inter"; font-style : bold; font-weight : 700;  }